{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Villanos
{% endblock title %}
{% block content %}

<div class="container-fluid  p-2" style="margin-bottom: 48px;">
    <!--ARMAS DISPONIBLES-->
    <div class="row mb-4">
        <div class="col-md bg-black content-shadow">
            <div class="container-fluid d-flex align-items-center justify-content-center p-4">
                
                <img id="villian-image" src="{% static '/img/catacombs/villians/villian-6.png' %}" alt="...">
            </div>

        </div>
        <div class="col-md text-light bg-black content-shadow">
            <div class="row row-cols-2 g-2 p-2 mt-4">
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeVillian(6)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="six"
                                class="stretched-link link-dark text-decoration-none color-red font-dragon ">Espectro de Sombra</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 position-relative h-100" onclick="changeVillian(1)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">

                        </div>
                        <div class="card-body">
                            <a href="#" id="one"
                                class="stretched-link link-dark text-decoration-none  text-white font-dragon ">Brevaje Andante</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"  onclick="changeVillian(2)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">
                            <a href="#" id="two"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Ser de Grava</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"   onclick="changeVillian(3)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="three"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Ogro Berserk</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeVillian(4)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="four"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Momia Maldita</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeVillian(5)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="five"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Medusa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 mt-4">
                <div class="col">
                    <h3 class="font-ancient text-danger">Descripción</h3>
                    <p class="lead font-ancient fs-5" id="villano-descripcion">
                        El Espectro de Sombra, una figura enigmática y misteriosa, se movía entre las sombras con astucia y habilidad. Su presencia era inquietante y su poder oscuro era temido por todos. Nadie sabía realmente de dónde venía ni qué motivaciones lo impulsaban.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--REQUISITOS-->
</div>

{% endblock content %}