{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Inicio
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col col-10 m-auto">
            <div class="row">
                <div class="col col-7 shadow">
                    <img src="{% static '/img/catacombs/ss.jpg' %}" class="w-100" alt="">

                </div>
                <div class="col col-5 bg-black  d-flex align-items-center justify-content-center flex-column shadow">
                    <div class="container">
                        <div class="row">
                            <h1 class="font-ancient text-center text-info">Comienza la Aventura</h1>
                            <p class="text-white text-center font-dragon fs-6">¡Elige a tu personaje favorito y descubre su historia! Pero la historia oscura de nuestro protagonista te fascinará. ¿Listo para descubrir los secretos ocultos? ¡Sumérgete en un mundo de misterio y emoción!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row mt-4">
        <div class="col col-10 m-auto">
            <div class="row">
                <div class="col col-5 bg-black  d-flex align-items-center justify-content-center flex-column shadow">
                    <div class="container">
                        <div class="row">
                            <h1 class="font-ancient text-center text-warning">Explora Nuevos Caminos</h1>
                            <p class="text-white text-center font-dragon fs-6">¡Adéntrate en las tenebrosas catacumbas, explora rutas, encuentra tesoros, pero ten cuidado con los seres malévolos! ¡Descubre los secretos ocultos en una emocionante aventura subterránea!</p>
                        </div>
                    </div>
                </div>
                <div class="col col-7 shadow">
                    <img src="{% static '/img/catacombs/ss-1.jpg' %}" class="w-100" alt="">

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-10 m-auto">
            <div class="row">
                <div class="col col-7 shadow">
                    <img src="{% static '/img/catacombs/ss-2.jpg' %}" class="w-100" alt="">

                </div>
                <div class="col col-5 bg-black  d-flex align-items-center justify-content-center flex-column shadow">
                    <div class="container">
                        <div class="row">
                            <h1 class="font-ancient text-center text-success">Mejora tus Habilidades</h1>
                            <p class="text-white text-center font-ancient fs-3">¡Mejora jugando! Logros, habilidades, puntos y monedas. ¡Desbloquea contenido exclusivo y progresa en el juego! ¡Sumérgete en una experiencia única y avanza en tu camino hacia la victoria!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row mt-4" style="margin-bottom: 96px;">
        <div class="col col-10 m-auto">
            <div class="row ">
                <div class="col col-5 bg-black  d-flex align-items-center justify-content-center flex-column shadow">
                    <div class="container">
                        <div class="row">
                            <h1 class="font-ancient text-center text-danger">Derrota Enemigos</h1>
                            <p class="text-white text-center font-ancient fs-3">¡Enfréntate a villanos, mini jefes y jefes de nivel! Supera desafíos, mejora tus habilidades y conviértete en el campeón del juego. ¡Derrota a tus enemigos y alcanza la victoria!</p>
                        </div>
                    </div>
                </div>
                <div class="col col-7 shadow">
                    <img src="{% static '/img/catacombs/ss-3.jpg' %}" class="w-100" alt="">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}