{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Armas
{% endblock title %}
{% block content %}

<div class="container-fluid  p-2" style="margin-bottom: 48px;">
    <!--ARMAS DISPONIBLES-->
    <div class="row mb-4">
        <div class="col-md bg-black content-shadow">
            <div class="container-fluid d-flex align-items-center justify-content-center p-4">
                
                <img id="weapon-image" src="{% static '/img/catacombs/weapons/weapon-6.png' %}" alt="...">
            </div>

        </div>
        <div class="col-md text-light bg-black content-shadow">
            <div class="row row-cols-2 g-2 p-2 mt-4">
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeWeapon(6)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="six"
                                class="stretched-link link-dark text-decoration-none color-red font-dragon ">Revolver</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 position-relative h-100" onclick="changeWeapon(1)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">

                        </div>
                        <div class="card-body">
                            <a href="#" id="one"
                                class="stretched-link link-dark text-decoration-none  text-white font-dragon ">Rifle Semiautomatico</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"  onclick="changeWeapon(2)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">
                            <a href="#" id="two"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Lanza Misiles</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"   onclick="changeWeapon(3)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="three"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Rifle de Asalto</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeWeapon(4)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="four"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">40 mm</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="changeWeapon(5)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">


                        </div>
                        <div class="card-body">

                            <a href="#" id="five"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Metralladora Ligera</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 mt-4">
                <div class="col">
                    <h3 class="font-ancient text-danger">Descripción</h3>
                    <p class="lead font-ancient fs-5" id="weapon-descripcion">
                        El Revólver, un arma icónica de la era del Salvaje Oeste, era rápida, precisa y mortal. Su cilindro giratorio y su cañón reluciente eran la envidia de los pistoleros más hábiles.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--REQUISITOS-->
</div>

{% endblock content %}