{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Armas
{% endblock title %}
{% block content %}

<div class="container-fluid  p-2">
    <!--ARMAS DISPONIBLES-->
    <div class="row mb-4">
        <div class="col-md bg-black content-shadow">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img id="preview-image-uno" src="{% static '/img/catacombs/Prota_0_idle.gif' %}" class="d-block  preview-image" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img id="preview-image-dos" src="{% static '/img/catacombs/Prota_1_run.gif' %}" class="d-block preview-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img id="preview-image-tres" src="{% static '/img/catacombs/Prota_2_Attack_Normal.gif' %}" class="d-block preview-image " alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon opacity-25" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon opacity-25" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md text-light bg-black content-shadow">
            <div class="row row-cols-2 g-2 p-2">
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 position-relative h-100" onclick="preview(1)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">
                            <img src="{% static '/img/icons/army-knife-arcade/icons8-army-knife-64.png' %}" alt="...">

                        </div>
                        <div class="card-body">
                            <a href="#" id="knife"
                                class="stretched-link link-dark text-decoration-none  color-yellow font-dragon ">Cuchilla de
                                Asalto</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"  onclick="preview(2)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">
                            <img src="{% static '/img/icons/mage-staff-arcade/icons8-mage-staff-64.png' %}" alt="...">


                        </div>
                        <div class="card-body">
                            <a href="#" id="stick"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Cetro Mágico</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4 h-100"   onclick="preview(3)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">
                            <img src="{% static '/img/icons/archer-arcade/icons8-archer-64.png' %}" alt="...">


                        </div>
                        <div class="card-body">

                            <a href="#" id="arch"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Arco de
                                Caza</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-black flex-row pe-4 ps-4"   onclick="preview(4)">
                        <div class="card-img-top d-flex align-items-center justify-content-center w-25">
                            <img src="{% static '/img/icons/sword-arcade/icons8-sword-64.png' %}" alt="...">


                        </div>
                        <div class="card-body">

                            <a href="#" id="sword"
                                class="stretched-link link-dark text-decoration-none text-white font-dragon ">Filo de la Verdad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 mt-4">
                <div class="col">
                    <h3 class="font-ancient text-danger">Descripción</h3>
                    <p class="lead font-ancient fs-5" id="arma-descripcion">
                        Esta cuchilla proviene de "La Secta de la Noche", proveniente de un viejo videojuego al que el
                        protagionista solía jugar con su hermano mayor. Es la primer arma que se otorga dentro del
                        juego.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md">

        </div>
    </div>
    <!--REQUISITOS-->
</div>

{% endblock content %}